<!DOCTYPE html>
<html lang="ru">
<%-include('./parts/head', {title: '404'})%>
<body>
	<section class="error-page">
		<div class="error-page__container container">
			<div class="error-page__body">
				<div class="error-page__title">Страница не найдена</div>
				<div class="error-page__text">
					<p>Такой страницы не существует, проверьте правильность написания адреса страницы</p>
				</div>
				<a href="/" class="error-page__link"><span>←</span> Вернуться на главную страницу</a>
			</div>
		</div>
	</section>
</body>
</html>