<!DOCTYPE html>
<html lang="ru">
<%- include('./parts/head', {title: 'Мероприятия' }) %>

	<body>
		<section class="events generate-report">
			<div class="events__container container">
				<div class="events__content">
					<img src="img/generate-report.jpg" alt="">
				</div>
			</div>
		</section>
		<%- include('./parts/popup') %>
	</body>

</html>