<!DOCTYPE html>
<html lang="ru">
<%- include('./parts/head', {title: 'Рабочие группы' }) %>

	<body>
		<section class="events">
			<div class="events__container container">
				<div class="events__content">
					<img src="img/groups.jpg" alt="">
				</div>
			</div>
		</section>
		<%- include('./parts/popup') %>
	</body>

</html>