<!DOCTYPE html>
<html lang="ru">
<%- include('./parts/head', {title: 'Вход в систему' }) %>

	<body>
		<section class="login">
			<div class="login__container container">
				<div class="login__content">
					<form method="post" action="/">
            			<div class="login__title">Вход</div>
						<div class="login__field">
							<div class="login__label">Телефон</div>
							<input type="phone" name="tel" class="login__input input">
						</div>
						<div class="login__field">
							<div class="login__label">Пароль</div>
							<input type="password" name="password" class="login__input input">
						</div>
						<input type="submit" class="login__btn action-btn"></input>
        			</form>
				</div>
			</div>
		</section>
			<%- include('./parts/popup') %>
	</body>

</html>